<div>
<h1 style = "text-align: center; margin-top: 100px;">About me</h1>
<div class = "d-flex justify-content-center mt-3">
   
    <div style = "width: 780px">
        <p style = "text-align: center; font-size: 1.25em;"> Hello, my name is Jacob Hopfer. I'm currently a full-time Full Stack developer based in Dallas, Tx. I'm currently pursuing more of a 
            career in data analysis and network developement. I have an interest in Artificial Intelligence and hope to soon go back to school or maybe a bootcamp to learn more about AI.
        </p>
    </div>
    
</div>
</div>