<div class="mt-5" style="text-align: center;">
    <h1>Projects</h1>
</div>
<div class = "d-flex r justify-content-center mt-5">

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Data Analytics Project</h5>
      <p class="card-text">This Section is for explaining the project</p>
      <hr>
      <p class="card-text">This section is for talking about the technology used on the project.</p>
      <hr>
      <p class="card-text">This section is about what problems arrose and how I fixed them</p>
      <a href="#" class="btn btn-primary">GitHub</a>
    </div>
  </div>

  <div class="card ml-5 mr-5" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">News App Project</h5>
      <p class="card-text">This Section is for explaining the project</p>
      <hr>
      <p class="card-text">This section is for talking about the technology used on the project.</p>
      <hr>
      <p class="card-text">This section is about what problems arrose and how I fixed them</p>
      <a href="#" class="btn btn-primary">GitHub</a>
    </div>
  </div>
  
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">This Portfolio</h5>
      <p class="card-text">My Portfolio...</p>
      <hr>
      <p class="card-text">Technology used: <br> Angular, TypeScript/JavaScript, BootStrap/CSS/HTML</p>
      <hr>
      <p class="card-text">This section is about what problems arrose and how I fixed them</p>
      <a href="#" class="btn btn-primary">GitHub</a>
    </div>
  </div>

</div>
